/* Geral */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(/recursos/qualBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/* Conteúdo Centralizado */
.conteudoCentralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container Principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    max-width: 90%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* Input Container */
.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.input-container input[type="text"],
.input-container button {
    flex: 1;
    margin: 1vw;
}

/* Estilos Gerais para Botões e Inputs */
button,
input[type="text"],
#guess-input {
    border: solid 1px #000;
    border-radius: 5px;
}

/* Títulos */
h1 {
    font-size: 2em;
    margin: 10px 0;
}

.categoria,
.tamanhoPalavra {
    font-weight: bold;
    font-size: 1.4em;
    color: #000;
    margin: 10px 0;
}

/* Estilo dos Botões */
button {
    margin: 15px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Inputs */
input[type="text"],
#guess-input {
    height: 30px;
    font-size: 1.8em;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

#guess-input {
    width: 30px;
    line-height: 35px;
}

/* Outros Textos */
.letrasUsadas,
.palpites {
    font-weight: bold;
    font-size: 1em;
    font-family: Arial, sans-serif;
    color: #000;
}

.palpites {
    margin-top: 20px;
}

.traço {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 10px;
    /* Estilo original */
}

/* Responsividade - Maior que 901px */
@media screen and (min-width: 901px) {
    .input-container {
        width: 70%;
    }

    h1 {
        font-size: 1.5em;
    }

    .input-container input[type="text"],
    .input-container button {
        flex-basis: auto;
        width: auto;
        margin: 5px;
    }
}

/* Responsividade - Menor que 900px */
@media screen and (max-width: 900px) {
    
    .input-container {
        width: 70%;
    }

    h1 {
        font-size: 1.5em;
    }

    .categoria,
    .tamanhoPalavra {
        font-size: 1.2em;
    }

    button {
        padding: 8px 16px;
        font-size: .9em;
    }

    input[type="text"],
    #guess-input {
        height: 25px;
        font-size: 1.5em;
    }

    .palpites {
        font-size: 0.8em;
    }

    .traço {
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 8px;
    }
}